@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary--dark: #000;
    --primary: #222;
    --primary--light: #555;

    --auxiliar--light: #eee;
    --auxiliar: #ccc;

    --secondary--dark: #bb2f00;
    --secondary: #ff4000;
    --secondary--light: #ff6938;

    --black: #161616;
    --white: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vw;
    color: var(--black);
    background: var(--white);
    font-family: 'Poppins', 'sans-serif';
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary--light);
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--secondary--light);
}

@keyframes focus {
    0% {
        outline: 0px solid transparent;
    }
    3% {
        outline: 0px solid var(--secondary);
    }
    90% {
        outline: 1px solid var(--secondary);
    }
    100% {
        outline: 0px solid transparent;
    }
}
